/* Override some defaults */
html, body {
  background-color: #eee;
}
.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

/* Pretty table captioning ======================================== */
.table-wrapper:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Ruby globals ($∀)";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.table-wrapper {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}

/* tooltips (http://www.menucool.com/tooltip/css-tooltip) ========= */
.tooltipable {outline:none; }
.tooltipable strong {line-height:30px;}
.tooltipable:hover {text-decoration:none;}
.tooltipable span {z-index:10; display:none; padding:8px 14px; margin-top:60px; margin-left:-160px; width:auto; max-width:300px;}
.tooltipable:hover span{ display:inline; position:absolute; border:2px solid #FFF; color:#EEE; background:#000 repeat-x 0 0; } 
.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}
/*CSS3 extras*/
.tooltipable span {
  border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; opacity: 0.8;
  -moz-box-shadow: 0px 0px 8px 4px #666; -webkit-box-shadow: 0px 0px 8px 4px #666; box-shadow: 0px 0px 8px 4px #666; }

/* bootstrap tweaks for “readable” theme ========================== */

body {
  font-family: 'URW Palladio L', 'Liberation', 'Free Paladin', 'Lora', 'Georgia', 'Times New Roman', 'Times', serif;
}

h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

code { color: inherit; }
blockquote p { color: #999; line-height: 1.6em; padding-right: 10em; }
.smallcaps { font-variant: small-caps; }

h1 ul { display: table-cell; float: right; }
h1 ul li { text-align: right; list-style: none; }

a { text-shadow: 1px 1px 1px #999; }
pre code, pre code span { line-height: 1.2em; }

.navbar .nav > li > a {
  text-shadow: 1px 1px 1px #999;
}
.navbar .nav > li > a:hover {
  color: #900;
  text-shadow: 1px 1px 1px #999;
  text-decoration: underline;
}
.navbar .brand {
  color: #900;
  font-weight: 600;
  text-shadow: 1px 1px 1px #000;
  padding: 15px 20px;
}

footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.contact { width: 100%; }
.contact p { 
  text-align: center; font-size: 80%; margin: 1em 5em; 
  font-family: 'Ubuntu', helvetica, arial, sans-serif;
}
div.pagination {
  font-size: 90%;
  font-family: 'Ubuntu', helvetica, arial, sans-serif;
}
.span10 img { margin: 1em 0 1em 0; }
.code { font-family: monospace; font-size: 70%; }
