<div class="page-header">
  <h1>{{ page.title }} <ul style="display: table-cell; float: right;">
      <li style="text-align: right; list-style: none;"><a href="https://travis-ci.org/mudasobwa/rmagick-screwdrivers"><img src="https://travis-ci.org/mudasobwa/rmagick-screwdrivers.png" title="Build status (Travis)" alt="Build status (Travis)"/></a></li>
      <li style="text-align: right; list-style: none;"><a href="https://gemnasium.com/mudasobwa/rmagick-screwdrivers"><img src="https://gemnasium.com/mudasobwa/rmagick-screwdrivers.png?travis" title="Dependency status (Gemnasium)" alt="Dependency status (Gemnasium)"/></a></li>
  </ul></h1>
</div>

<div class="row">
  <div class="span12">
    {{ content }}
  </div>
</div>
